---
import Layout from "../layouts/Layout.astro";
import MenuSection from "../components/MenuSection.astro";
import MenuItem from "../components/MenuItem.astro";

import {
  hamburguesas,
  burritos,
  extras,
  hotdogs,
  papas,
  refrescos,
  salsas,
} from "../data/menuPlataformas.json";
import Price from "../components/Price.astro";
---

<Layout title="Friestick Menu">
  <main
    class="w-full p-6 flex flex-col items-center text-white border-yellow-400 border-2"
  >
    <h1 class="text-6xl text-yellow-400">Friestick</h1>
    <section
      class="mt-12 py-6 rounded-lg grid sm:grid-cols-1 md:grid-cols-3 w-full gap-12"
    >
      <MenuSection title="Hamburgesas" emoji="ðŸ”">
        {
          hamburguesas.map((item) => (
            <MenuItem
              nombre={item.nombre}
              precio={item.precio}
              descripcion={item.descripcion}
            />
          ))
        }
        <span class="flex justify-baseline text-xl">
          <p class="mr-auto underline">Extras</p>
          <Price precio={50} />
        </span>
        <div class="md:grid md:grid-cols-12 sm:flex sm:flex-col gap-4">
          {
            extras.map((item) => (
              <p class="md:bg-white md:text-black rounded-md text-center col-span-4 sm:my-2 md:my-0">
                {item}
              </p>
            ))
          }
        </div>
      </MenuSection>
      <MenuSection title="Papas" emoji="ðŸŸ">
        {
          papas.map((item) => (
            <MenuItem
              nombre={item.nombre}
              precio={item.precio}
              descripcion={item.descripcion}
            />
          ))
        }
        <p class="text-xl underline">Salsas</p>
        <div class="md:grid md:grid-cols-12 sm:flex sm:flex-col gap-4">
          {
            salsas.map((item) => (
              <p class="md:bg-white md:text-black rounded-md text-center col-span-4 sm:my-2 md:my-0">
                {item}
              </p>
            ))
          }
        </div>
      </MenuSection>
      <MenuSection title="Burros" emoji="ðŸŒ¯">
        <div class="flex">
          <ul class="list-disc list-inside">
            {burritos.ingredientes.map((item) => <li>{item}</li>)}
          </ul>
          <Price precio={burritos.precio} />
        </div>
      </MenuSection>
      <MenuSection title="Hotdogs" emoji="ðŸŒ­">
        {
          hotdogs.map((item) => (
            <MenuItem
              nombre={item.nombre}
              precio={item.precio}
              descripcion={item.descripcion}
            />
          ))
        }
      </MenuSection>
      <MenuSection title="Refrescos" emoji="ðŸ¥¤">
        <div class="flex">
          <ul class="list-disc list-inside">
            {refrescos.map((item) => <li>{item.nombre}</li>)}
          </ul>
          <Price precio={32} />
        </div>
      </MenuSection>
    </section>
  </main>
</Layout>
